@page
@model AspNetCoreKurs_Berlin.BildUploadSample1Model
@{
    ViewData["Title"] = "BildUploadSample1";
}

<h1>BildUploadSample1</h1>

<form enctype="multipart/form-data" method="post">
    <input type="file" name="datei" dirname="C:\" />
    <input type="submit" />
</form>
