@page
@model AspNetCoreKurs_Berlin.SectionSampleModel
@{
    ViewData["Title"] = "SectionSample";
}

<h1>SectionSample</h1>

@section Scripts
{
    <script>
        $('h1').text('Modifieded Text by jQuery. ');
    </script>
}

